* {
    box-sizing: border-box;
}

body {
    background-color: #d3d3d0;
    font-style: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.header {
    background-color: #333333;
    color: #eee;
    font-size: 40px;
    text-align: left;
    height: 155px;
    padding: 0x;
    width: 100%;
    float: left;
    border-bottom: 3px solid rgb(211, 190, 7);
}

h1 {
   margin-left: 10px;
    margin-top: 55px;
}

.nav {
    font-size: 24px;
    padding: 0;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    background-color: pink;
}

li {
    display: inline;
    
}

a {
    margin-top: 10px;
    color: rgb(211, 190, 7);
    padding: 20px;
}

.container {
    height: 583px;
}

#about {
    color: white;
    font-size: 35px;
    margin: 3px;
    margin-left: -20px;
    padding: 10px;
   background-color: yellow;
}

.main {
    float: left;
    height: 300px;
    width: 18%;
    padding: 23px;
   
    margin: 10px;
    background-color: purple;
}

.main-bio {
    
        width: 80%;
        float: left;
        margin-top:10px;
        height: 300px;
        background-color: orange;
}

img {

}

.footer {
    clear: both;
    background-color: #333333;
    margin-top: 50px;
    padding: 20px;
    height: 90px;
    border-top: 3px solid rgb(211, 190, 7);
}